{#父模板#}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>{% block title %}{% endblock %}-mark</title>
    {#    bootstrap初始化#}
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"
            integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
            crossorigin="anonymous"></script>
    {#    bootstrap初始化#}
    <link rel="stylesheet" href="{{ url_for('echoImg.static', filename='css/base.css') }}">

    {% block head %}{% endblock %}
</head>
<body>
<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse"
                    data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">
                <img src="{{ url_for('echoImg.static', filename='slider/logo1.png') }}" alt="" width="30px" height="30px">
            </a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav">
                <li><a href="{{ url_for('echoImg.index') }}">首页</a></li>
                <li><a href="{{ url_for('echoImg.imgOper') }}">图片操作</a></li>

            </ul>


            <ul class="nav navbar-nav navbar-right">
                {% if user %}
                    <li><a href="#">{{ user.username }}</a></li>
                    <li><a href="{{ url_for('echoImg.logout') }}">注销</a></li>
                {% else %}
                    <li><a href="{{ url_for('echoImg.login') }}">登录</a></li>
                    <li><a href="{{ url_for('echoImg.regist') }}">注册</a></li>
                {% endif %}


            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
<div class="main">
    {% block main %}{% endblock %}
</div>
</body>
</html>