<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Please Sign In</title>
    <style type="text/css">
    .divForm{
    position: absolute;/*绝对定位*/
    width: 300px;
    height: 200px;

    /*border: 1px solid red;*/
    text-align: center;/*(让div中的内容居中)*/
    top: 50%;
    left: 50%;
    margin-top: -200px;
    margin-left: -150px;
    }
    </style>
    <script type="text/javascript" src="static/js/jquery-3.3.1.js"></script>
    <script>
    function toRegist(){
        window.location.href='regist';
    }
    function toLogin(){
        window.location.href='login';
    }

    </script>
</head>
<body>
  <div class="divForm">
    {% if message %}
    <p style="color:red">{{ message }}</p>
    {% endif %}
     {% block content %}

    {% endblock %}

    <!--<form id="loginForm" action="/echoImg/login" method="post">-->
      <!--<legend>Please sign in:</legend>-->
      <!--<p><input name="username" placeholder="Username" value="{{ username }}"></p>-->
      <!--<p><input name="password" placeholder="Password" type="password"></p>-->
      <!--<p><button type="submit">登录</button> <button type="submit">注册</button></p>-->
    <!--</form>-->
  </div>
</body>
</html>