
{% extends 'base.html' %}

{% block title %}
    登录
{% endblock %}

{% block head %}
    <link rel="stylesheet" href="{{ url_for('echoImg.static', filename='css/picList.css') }}">
	<script type="text/javascript" src="static/js/my.js"></script>
{% endblock %}

{% block main %}

<div class="base">

	<div class="base_two">
		<div class="base_left"><span class="jiantou_left"></span></div>
		<div class="content"></div>
		<div class="base_right"><span class="jiantou_right"></span></div>
	</div>

	<div class="toggle"><div class="list">|图片列表<span></span>&nbsp;&nbsp;</div></div>

	<div class="bottle">
		<span class="l"></span>
		<div id="list_shot">
		<ul>
			  {% for img in imgs %}
				 {% if img.resultName %}
				<!--<li><img src="../static/photos_file/0.jpg"  width="115px" height="100px"></li>-->
					<li><img src="static/uploads/{{telephone}}/result/{{ img.resultName}}"   width="115px" height="100px" /></li>
				{% endif %}
			  {% endfor %}
		</ul>
		</div>
		<span class="r"></span>
	</div>



</div>
<div style="text-align:center;">
		<li>
			<!--<font style="color:green">{{ username }}</font>-->
			<a href="{{url_for('echoImg.homePage')}}">返回</a>
			<!--<a href="{{url_for('echoImg.logout')}}">退出登录</a>-->
		</li>
</div>

{% endblock %}


